// PALETTE

// GREYS
$midnight		: #2c3643;
$dark-grey		: #3b444f;
$grey			: #59626a;
$light-grey		: #99a9b3;
$mist			: #dbe6ec;
$powder			: #eff3f6;
$snow			: #f8f9fa;
$opaque-white	: rgba(255, 255, 255, 0.7);


// COLORS

$green: #3BEF71;
$white: #FFFFFF;


// UI COLORS
$primary-color	: $green;
$heading-color	: $dark-grey;
$body-color		: $grey;
$light-text		: $light-grey;
$border-color   : $mist;
$line-color     : $powder;



// Standard colors: for standard 4K and other brand colors.
// Note: these are just for reference, and some brands have multiple colors.
$color-facebook : #3B5998;
$color-twitter  : #33CCFF;
$color-youtube  : #FF3333;
$color-pinterest: #990000;
$color-skype    : #12A5F4;
$color-flickr   : #FE0883;
$color-foursquare: #8FD400;
$color-instagram: #4E433C;
$color-linkedin : #4875B4;
$color-tumblr   : #2B4964;
$color-vimeo    : #86B32D;
$color-google   : #D6492C;
$color-fk       : #66B360;
