$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;

// Font faces, stacks and sizes.

$base-font-size:   16px;
$base-line-height: 1.5;


// Font stacks
$open:			'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$source:		'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-family: $source; // The font family set on the html element.


// Font-weight
$fw-light		: 100;
$fw-regular		: 300;
$fw-medium		: 400;
$fw-bold		: 600;



// Link color and selection styles
$link           : $primary-color;
$visited        : $link;
$selection-bg   : $primary-color;
$selection      : $white;


// The amount lists, blockquotes and comments are indented.
$indent-amount: 2em;