//
// Partial: helpers
// ================
//
// Helper classes
//

.clear {
	@include clearfix;
}

.f--l {
  float: left;
}

.f--r {
  float: right !important;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.zero {
	margin: 0;
}

.m--t {
	margin-top: 40px;
}

.m--b {
	margin-bottom: 40px;
}

.d--b {
	display: block;
}

.d--ib {
	display: inline-block !important;
}

.p--tb {
	padding: 20px 0;
}

.max {
	max-height: 150px;
	margin: 0;
}

.max-md {
	max-height: 250px;
	margin: 0;
}

.pipe {
	margin: 0 5px;
}


.super-pad {
	padding: 30px;
}

.pad-width {
	padding: 0 20px;
}

// Make elements block-level
// .o--b {
//   display: block;
// }

// // Raise elements on the z-index
// .o--z {
//   z-index: 100;
// }
