//
// Partial: helpers
// ================
//
// Helper classes
//

.clear {
	@include clearfix;
}

.f--l {
  float: left;
}

.f--r {
  float: right !important;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.zero {
	margin: 0;
}

.m--t {
	margin-top: 40px;
}

.m--b {
	margin-bottom: 40px;
}

.d--b {
	display: block;
}

.d--ib {
	display: inline-block !important;
}

.p--tb {
	padding: 20px 0;
}

.d--n {
display: none;
}