.feature__img {
	display: flex;
	justify-content: center;
}
.feature__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width: $medium) {
	.feature__img {
		margin: 40px 0;
	}
}