.site-header {
	position: fixed;
	z-index: 100;
	width: 100%;
	transition: all 0.3s ease;
}

.site-nav {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: all 0.3s ease;
	// justify-content: center;
	@include breakpoint($medium) {
		justify-content: space-between;
	}
}

.site-logo {
	background: url('../images/rmas-logo.svg') no-repeat;
	width: 230px;
	transition: all 0.1s ease;
	text-indent: -1000px;
	@include breakpoint($medium) {
		width: 350px;
	}
}

// .sticky {
// 	background: rgba(0, 0, 0, 0.9);
// }

header.sticky {
	background: rgba(0, 0, 0, 0.9);
	.site-logo {
		background: url('../images/rmas-icon.svg') no-repeat;
	}
	.site-nav {
		padding: 10px 0;
	}
}

@media only screen and (max-width: $medium) {
	.contact-button {
		display: none;
	}
}