.hero {
  position: relative;
  color: $white;
  height: 500px;
  margin-bottom: 40px;
  h1, h2, h3, h4 {
    color: $white;
  }
  a {
    color: inherit;
  }
}

.hero__container {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.hero__image {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center, center;
  background-size: cover;  
  overflow: hidden;
}

.hero__text, %hero__text {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.hero__text--center {
  @extend %hero__text;
  text-align: center;
  padding: 20px;
  @include breakpoint($medium) {
    padding: 0 20%;
  }
}

.hero__text--left {
  @extend %hero__text;
  text-align: center;
  @include breakpoint($large) {
    text-align: left;
    width: 33.333%;
  }
}

.hero__text--right {
  @extend %hero__text;
  text-align: center;
  @include breakpoint($large) {
    right: 8%;
    width: 30%;
    text-align: left;
  }
}

.hero__link-overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.overlay::before {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, .7);
  // background-image: radial-gradient(circle farthest-side at right bottom,#168eea,#284271 80%,#192e71);
  // opacity: .6;
}

.overlay--green::before {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba($green, .9);
}