<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="site">

    {% include header.html %}

    <div class="site-content">
      <div class="#">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script type="text/javascript">
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){  
        $('header').addClass("sticky");
        $('header').addClass("shrink");
      }
      else{
        $('header').removeClass("sticky");
      }      

    });
  </script>

  <script type="text/javascript">
      var userFeed = new Instafeed({
          get: 'user',
          userId: 1988066526,
          accessToken: '1988066526.79cce1e.4186b9312c7d4c3f8e8d70ab9c934659',
          limit: 12
      });
      userFeed.run();
  </script>




  </body>

</html>
