<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="site">

    {% include header.html %}

    <div class="site-content">
      <div class="#">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script type="text/javascript">
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){  
        $('header').addClass("sticky");
        $('header').addClass("shrink");
      }
      else{
        $('header').removeClass("sticky");
      }
    });
  </script>


  <script type="text/javascript">
      var userFeed = new Instafeed({
          get: 'user',
          userId: 1581817,
          accessToken: '1581817.467ede5.55e9235f23d1479c94c96a1796771739',
          limit: 12
      });
      userFeed.run();
  </script>

  </body>

</html>
